
{{#if companyAdmin}}
<h1>You are a company admin</h1>
{{else}}
<h1>you are not a company admin</h1>
{{/if}}

{{!-- @TODO add "add post" --}}

{{#each trips as |trip|}}

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{trip.trip_name}}</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">{{trip.company.user_name}}</a></p>
      {{!-- For some reason conditionals aren't working, need to figure this out --}}
      {{!-- Guessing it may not be possible to use if statement within a loop, so may have to add a link to a single trip view --}}
      {{!-- {{#if companyAdmin}} --}}
   
      {{!-- Going button, will be connected to api/trip/going via POST request --}}
      <button id="going" data-id="{{trip.id}}" class="btn btn-primary">Going!</button>
      
      {{!-- {{/if}} --}}
      {{!-- @TODO: add conditional edit and delete --}}
    </div>
  </div>

{{/each}}

{{#if logged_in}}
<h1>you are logged in</h1>
{{/if}}

<script src="../../js/travellerGoing.js"></script>