
{{#if logged_in}}
<h1>YOU ARE LOGGED IN AS AN ADMIN</h1>

{{/if}}

{{#if companyAdmin}}
<h1>You are a company admin</h1>
{{else}}
<h1>you are not a company admin</h1>
{{/if}}

{{#each trips as |trip|}}
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{trip.trip_name}}</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">{{trip.company.user_name}}</a></p>
      {{#if companyAdmin}}
      <button>Edit</button>
      <button>Delete</button>
      {{/if}}
    </div>
  </div>

{{/each}}