<section class="form my-4 mx-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-4 ">
        <img src="./images/solo_Traveller1.jpg" class="img-fluid" alt="sunny beach image">
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3">Company Signup</h1>
        <h4>Create an Account with us!</h4>
        <form id="signup-form">
          <!-- Email Section -->
          <div class="form-row">
            <div class="col-lg-7">
              <input type="email" placeholder="Email Address" class="form-control my-3 p-4" id="email">
            </div>
          </div>

    <div class="form-row">
            <div class="col-lg-7">
              <input type="text" placeholder="Username" class="form-control my-3 p-4" id="userName">
            </div>
          </div>

          <!-- Password Section -->
          <div class="form-row">
            <div class="col-lg-7">
              <input type="password" placeholder="********" class="form-control my-3 p-4" id="password">
            </div>
          </div>
          <!-- Button Login -->
            <div class="form-row">
              <div class="col-lg-7">
                <button type="submit" class="btn1 mt-3 mb-5">Signup</button>
              </div>
            </div>
            <p class="lead">Don't have an account? <a href="#">Sign up here</a> </p>
            <!--  -->
        </form>
      </div>
    </div>
  </div>
</section>

<script src="./js/company-signup.js"></script>