
<form action="" id="create-form">
<div class="mb-3">
  <label for="formGroupExampleInput"  class="form-label">Trip Name</label>
  <input type="text" class="form-control" id="trip-name" placeholder="Example input placeholder">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2"  class="form-label">Trip Link</label>
  <input type="text" class="form-control" id="trip-link" placeholder="Another input placeholder">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2"  class="form-label"><img src="/images/040207e1cface25f0b2b4f1228737ebd">
  <input type="text" class="form-control" id="img-src" placeholder="Another input placeholder">
</div>
<button type="submit">Submit</button>
</form>
<script src="../../js/createTrip.js"></script>
